<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3 mt-3 mb-5">
            <div class="card shadow">
                <div class="card-body">
                    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form"
                        enctype="multipart/form-data" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" placeholder="title"
                                name="campground[title]" value="<%= campground.title %>" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" placeholder="location"
                                name="campground[location]" value="<%= campground.location %>" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Add more Images</label>
                            <div class="input-group">
                                <label for="image" class="input-group-text">Upload</label>
                                <label for="image" class="form-control filenameLabel">Choose image(s)...</label>
                            </div>
                            <input type="file" name='image' class="form-control inputImg" id="image" multiple
                                style="display:none" onchange="displayFilename()">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input id="price" type="text" class="form-control" placeholder="0.00"
                                    name="campground[price]" value="<%= campground.price %>" aria-label="price-label"
                                    aria-describedby="price-label" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" id="description" placeholder="description"
                                name="campground[description]" required><%= campground.description %> </textarea>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <% campground.images.forEach((img, i)=> { %>
                                <img src="<%= img.thumbnail %>" class="images-thumbnail" alt="">
                                <div class="form-check-inline">
                                    <input type="checkbox" name="deleteImages[]" id="image-<%= i %>"
                                        value="<%= img.filename %>">
                                    <label for="image-<%= i %> ">Delete?</label>
                                </div>
                                <% }) %>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-info">Update Campground</button>
                        </div>
                    </form>
                    <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
                </div>
            </div>
        </div>
    </div>